html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

* {
  font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px white;
}

p {
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 17vh;
  position: sticky;
  top: 0%;
  margin: 0%;
  padding: 0%;
  background-color: #a0d1ca;
}

#logo {
  justify-content: left;
  align-items: center;
  width: 25%;
  height: 100%;
  font-size: small;
  text-decoration: none;
}

nav {
  margin: 0%;
  width: 75%;
  height: 14vh;
  background: #a0d1ca;
}
nav .main_pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .main_pages a {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  margin-top: 4vh;
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 900;
}

nav a:hover {
  border-bottom: 4px solid black;
  border-left: 1px solid black;
  border-right: 3px solid black;
  border-top: 2px solid black;
  border-radius: 40px;
  box-shadow: 2px 3px 2px 2px rgba(88, 99, 104, 0.329);
}
nav a:hover:active {
  text-decoration: underline 5px;
}

h1 {
  font-size: 1.3rem;
  margin-left: 8%;
  margin-top: 0%;
}

label,
#toggle {
  display: none;
}

@media all and (max-width: 668px) {
  header {
    height: 27vh;
  }
  nav {
    height: 60px;
  }
  nav .main_pages {
    display: none;
    flex-direction: column;
    background: #a0d1ca;
    height: 14vh;
    margin-top: -20%;
    border: 4px solid #b7c9d3;
    border-top: none;
  }
  nav .main_pages a {
    width: 50%;
  }
  label {
    position: relative;
    top: -4vh;
    display: flex;
    justify-content: right;
    width: 75%;
    margin: 0 auto;
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
  }
  #toggle:checked + .main_pages {
    display: flex;
    flex-wrap: nowrap;
    height: 250px;
  }
  #toggle:checked + .main_pages + h1 {
    display: none;
  }
  #logo {
    border: 1px solid red;
    width: 40%;
  }
  h1 {
    width: 100%;
    margin-left: 0%;
    margin-top: -4vh;
  }
}
#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8194dd;
  z-index: 0;
}
#presentation > p {
  width: 80%;
  padding: 5%;
  margin-top: 2%;
  border: 1px solid #a0d1ca;
  border-radius: 40px;
  box-shadow: 2px 2px 1px 2px rgba(40, 61, 51, 0.4666666667);
}

#team {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #b7c9d3;
}
#team > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline solid 2px #8194dd;
}
#team > .profile_container {
  border: green 1px solid;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  width: 49%;
  top: 0%;
}
.profile_image {
  object-fit: contain;
  width: 150px;
  border-radius: 100%;
  border: 2px solid #a0d1ca;
}
.profile_title {
  text-decoration: underline solid #8194dd 4px;
  font-size: x-large;
}
.profile_profession {
  font-size: large;
  margin: 0%;
}
.profile_convention {
  font-style: italic;
  font-size: 0.9rem;
}
.profile_openingTime > span {
  text-decoration: underline solid #8194dd 4px;
  font-weight: 900;
  font-style: oblique;
  font-size: large;
}
.profile_openingTime + p {
  border: 2px solid red;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #8194dd;
}
footer > a {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
footer > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
