html {
  box-sizing: border-box;
  overflow-x: auto;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: white;
  z-index: -1;
}

main {
  z-index: -1;
}

* {
  font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0%;
  margin: 0%;
  padding: 0%;
  background-color: #2f6cf8;
  border: 2px solid #C0E4F0;
  z-index: 10;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: auto;
  width: 40%;
  height: 100%;
  margin-left: 20px;
}
.logo_svg {
  width: 125px;
  height: 125px;
  position: relative;
  top: -5%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin-top: -20px;
}
.navigation_title {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  top: 10%;
  width: 65%;
  margin: 0;
  font-size: 1.25rem;
}
.navigation_bar {
  height: 100%;
  width: 30%;
}
.navigation_link {
  display: none;
  flex-direction: column;
  background: #2f6cf8;
  height: 14vh;
  width: 100%;
  margin-top: 0;
  position: relative;
}
.navigation_link a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 900;
}

.navigation_link-hover {
  height: 5px;
  width: 70%;
  background-color: black;
  transform: scale(0);
  transition: transform 400ms;
}

.navigation_link a:hover + .navigation_link-hover {
  transform: scale(1);
  transform-origin: left;
}

.navigation_link a:active + .navigation_link-hover {
  transform: scale(1);
  transform-origin: left;
  background-color: #C0E4F0;
}

label {
  position: relative;
  font-size: 2.5rem;
  left: -15%;
}

#toggle:checked + .navigation_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 300px;
  width: 120%;
  position: relative;
  border: none;
  top: 50px;
  right: 110%;
  text-decoration: none;
  margin: -13%;
  text-align: center;
  padding-left: 40px;
  padding-right: 100%;
}

#toggle {
  display: none;
}

@media (min-width: 770px) and (max-width: 1079px) {
  .logo_svg {
    top: 0%;
  }
  label {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation_title {
    font-size: 1.4rem;
    width: 100%;
    top: 20px;
    right: 22%;
    padding-bottom: 10px;
    justify-content: center;
  }
  .navigation_link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 40%;
    left: -65%;
    width: 300%;
    height: 70%;
    margin-left: -100%;
    margin-top: 0%;
    border: none;
    text-decoration: none;
    font-size: 1.1rem;
  }
}
.navigation_link-hover {
  margin: auto;
  margin-left: -20%;
  width: 90%;
}

@media screen and (min-width: 1080px) {
  .logo {
    margin-left: 0;
  }
  .logo_svg {
    top: 0%;
    left: -30%;
    width: 150%;
    height: 150%;
  }
  label {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -23%;
  }
  .navigation_title {
    font-size: 1.8rem;
    width: 100%;
    top: 20px;
    right: 5%;
    padding-bottom: 10px;
    padding-left: 0%;
    justify-content: center;
  }
  .navigation_link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300%;
    height: 70%;
    top: 15%;
    right: 100%;
  }
  .navigation_link > a {
    height: max-content;
    padding: 23px;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1.2rem;
    margin-inline: 20px;
    flex-wrap: nowrap;
    width: fit-content;
  }
}
@media screen and (min-width: 2450px) {
  .navigation_title {
    font-size: 2.4rem;
    justify-content: center;
    align-items: center;
    margin-left: -35%;
  }
  .navigation_link {
    margin-top: -1%;
  }
  .navigation_link > a {
    font-size: 1.6rem;
    margin-top: 1%;
  }
  .navigation_link > a:hover {
    font-size: 1.6rem;
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: white;
  padding-bottom: 20px;
  text-align: center;
}
.presentation_figure {
  width: 100%;
}
.presentation_image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.presentation_figcaption {
  width: 80%;
  padding: 4%;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 2px rgba(21, 71, 69, 0.3843137255);
}

@media (min-width: 770px) and (max-width: 1079px) {
  .presentation_figure {
    width: 100%;
    height: 350px;
  }
  .presentation_image {
    width: 100%;
  }
}
@media screen and (min-width: 1080px) {
  .presentation_figure {
    width: 100%;
    height: 100%;
  }
  .presentation_image {
    width: 100%;
    height: 450px;
  }
}
@media screen and (min-width: 2450px) {
  .presentation_figcaption {
    padding: 20px;
    text-align: center;
  }
}
#team {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: white;
}
#team > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#team > .profile_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0%;
}

@media screen and (min-width: 2450px) {
  #team {
    padding-bottom: 220px;
  }
  #team > h2 {
    font-size: 2.8rem;
  }
  #team > .profile_container {
    margin-bottom: 2%;
    height: 1600px;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  width: 80%;
  top: 0%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 40px;
  background-color: #C0E4F0;
  box-shadow: 2px 4px 3px 2px rgba(21, 71, 69, 0.3843137255);
  text-align: center;
}
.profile_image {
  object-fit: contain;
  width: 100px;
  height: 100px;
  padding-top: 5px;
}
.profile_image-dentiste {
  width: 20%;
  height: 40%;
}
.profile_title {
  font-size: 1.8rem;
}
.profile_profession {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0%;
}
.profile_convention {
  font-style: italic;
  font-size: 1rem;
}
.profile_openingTime {
  font-weight: 900;
  font-style: oblique;
  font-size: larger;
  margin: 0;
}
.profile_logo {
  border-radius: 20px;
  object-fit: fill;
  margin-block: 0;
}

#kine {
  font-size: 1.2rem;
}

@media (min-width: 770px) and (max-width: 1079px) {
  .profile {
    width: 40%;
  }
}
@media screen and (min-width: 1080px) {
  .profile {
    width: 26%;
  }
  .profile_image {
    width: 150px;
    height: 150px;
    object-fit: contain;
  }
}
@media screen and (min-width: 2450px) {
  .profile {
    height: auto;
  }
  .profile_image {
    width: 150px;
    height: 150px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  padding-bottom: 100px;
  background-color: #2f6cf8;
}
.footer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
}
.footer > a > img {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 0;
}
.footer_address {
  margin-left: 20px;
  margin-bottom: 0;
}
.footer_phone {
  margin-left: 20px;
  margin-bottom: 0;
}
.footer_mailbox {
  margin-left: 20px;
  margin-bottom: 0;
}
.footer_mailbox > a {
  font-size: 1.4rem;
  color: #1B0000;
  text-decoration: underline solid 5px #C0E4F0;
}
.footer_mailbox > a:hover {
  font-size: 1.7rem;
  text-decoration: underline solid 7px #C0E4F0;
}
.footer_mailbox > a:active {
  font-size: 2rem;
  text-decoration: underline solid 7px #9E8CB1;
}

#contact_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-weight: 900;
  font-size: 2rem;
}

#actus_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  font-size: 2.3rem;
  z-index: 1;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  width: 80%;
  margin: auto;
  margin-bottom: 150px;
  height: max-content;
  text-align: center;
  background-color: #C0E4F0;
  border: 1px solid #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 3px 2px 1px rgba(75, 66, 75, 0.137254902);
  z-index: 1;
}
.information_article {
  width: 75%;
  background-color: #C0E4F0;
  border-radius: 20px;
  margin-left: 20px;
}
.information_title {
  font-weight: 900;
  font-size: 1.9rem;
}
.information_subtitle {
  font-weight: 900;
  font-size: 1.5rem;
}
.information_text {
  font-size: 1.1rem;
}
.information_aside {
  width: 50%;
  height: 100%;
  margin: 20px;
  border: 2px solid #9E8CB1;
  border-radius: 20px;
}
.information_figure {
  border-radius: 20px;
  margin: 0;
}
.information_image {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  margin-top: 60px;
  background-color: #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
  z-index: -2;
  text-align: center;
}
.map_title {
  font-size: 2rem;
}
.map_frame {
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  height: 200px;
  width: 68%;
  border: 2px white solid;
  border-radius: 20px;
  box-shadow: none;
}
.map_frame > iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.map_place {
  margin: 20px;
  font-size: 1.6rem;
}
.map_hours {
  font-size: 1.4rem;
}
.map_address {
  margin: 0;
  margin-bottom: 20px;
  justify-content: flex-start;
  font-size: 1.4rem;
}
.map_contact {
  font-size: 1.4rem;
}
.map_contact + a {
  font-size: 1.2rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  text-decoration: underline solid 4px #2f6cf8;
  text-align: center;
}
.map_contact + a:hover {
  text-decoration: underline solid 6px #2f6cf8;
  font-size: 1.4rem;
}
.map_contact + a:active {
  text-decoration: underline solid 6px #9E8CB1;
  font-size: 1.4rem;
}

@media (min-width: 770px) and (max-width: 1079px) {
  .map_frame {
    height: 400px;
  }
}
@media screen and (min-width: 1080px) {
  .map {
    width: 60%;
  }
  .map_frame {
    height: 400px;
  }
}
@media screen and (min-width: 2450px) {
  .map {
    width: 60%;
  }
  .map_frame {
    height: 400px;
  }
}
.agenda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.agenda_title {
  margin-left: 20px;
  text-align: center;
  font-size: 2.2rem;
}
.agenda_caption {
  margin-left: 20px;
  margin-top: 0;
  font-size: 1.4rem;
}
.agenda_solo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C0E4F0;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
  font-size: 1.4rem;
}
.agenda_solo-image-dentiste {
  width: 100px;
  height: 100px;
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  border-radius: 20px;
  min-width: 760px;
  max-width: 760px;
  height: 350px;
  font-size: 1.4rem;
}

td {
  border: 1px solid black;
}

td.border_right {
  border: 1px solid black;
  border-bottom-right-radius: 20px;
}

th {
  border: 1px solid black;
}

.day {
  background-color: #2f6cf8;
  border: 1px solid black;
}

.half_day {
  background-color: #C0E4F0;
}

.cornu {
  background-color: #97D1A7;
}

.pistre {
  background-color: #D1B48C;
}

.yellow {
  background-color: #D1B6B6;
}

.empty {
  background-color: #CEEAD6;
}

#top_left {
  border-top-left-radius: 20px;
  border: none;
}

.top_right {
  border-top-right-radius: 20px;
  border: none;
  background-color: #2f6cf8;
}

#bottom_left {
  border-bottom-left-radius: 20px;
  border: none;
}

.bottom_right {
  border-bottom-right-radius: 20px;
  border: none;
}

h3.agenda_caption {
  font-size: 1.8rem;
}

@media screen and (min-width: 1080px) {
  table {
    width: 760px;
    height: 300px;
    text-align: center;
    font-size: 1.4rem;
  }
  .agenda {
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
@media screen and (min-width: 2450px) {
  .agenda_solo {
    width: 60%;
  }
  table {
    width: max-content;
  }
}
#main_links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
  z-index: -1;
}

#links_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  font-size: 2.2rem;
  z-index: 1;
}

.links_subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  font-size: 1.8rem;
  z-index: 1;
  text-align: center;
}

#radio,
#irm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  position: relative;
  top: 120px;
  margin-bottom: 40px;
  background-color: #C0E4F0;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
}

.fa-solid {
  margin-right: 10px;
}

@media (min-width: 770px) and (max-width: 1079px) {
  #irm {
    flex-direction: row;
    width: 85%;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1080px) {
  #irm {
    flex-direction: row;
    width: 85%;
    flex-wrap: wrap;
  }
}
.link {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120px;
  bottom: 150px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  padding: 20px;
  background-color: #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
  z-index: 1;
}
.link_article {
  width: 100%;
}
.link_title {
  text-align: center;
  font-size: 1.6rem;
}
.link_text {
  margin-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.link_aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link_frame {
  border-radius: 20px;
  border: 1px solid black;
  width: 90%;
}
.link_aside_link {
  margin-left: 20px;
}

@media (min-width: 770px) and (max-width: 1079px) {
  .link_aside {
    width: 540px;
  }
}
@media screen and (min-width: 1080px) {
  .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  .link_aside {
    width: 640px;
    height: 300px;
  }
}
.radio {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.radio_frame > iframe {
  width: 80%;
  border-radius: 20px;
  border: 1px solid black;
}
.radio_link > a {
  color: black;
}

.radio_link-hover {
  height: 5px;
  width: 70%;
  background-color: black;
  transform: scale(0);
  transition: transform 400ms;
}

.radio_link a:hover + .radio_link-hover {
  transform: scale(1);
  transform-origin: left;
}

.radio_link a:active + .radio_link-hover {
  transform: scale(1);
  transform-origin: left;
  background-color: #C0E4F0;
}

@media (min-width: 770px) and (max-width: 1079px) {
  #radio {
    flex-direction: row;
  }
}
@media screen and (min-width: 1080px) {
  #radio {
    flex-direction: row;
  }
  .radio {
    width: 33%;
    margin-bottom: 0;
  }
}
#numeros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  position: relative;
  top: 120px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
  background-color: #C0E4F0;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
  flex-wrap: wrap;
}

.numero {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #2f6cf8;
  border-radius: 20px;
  box-shadow: 1px 2px 2px 1px rgba(24, 79, 95, 0.3764705882);
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
