html {
  box-sizing: border-box;
  overflow-x: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #5A9AAD;
}

* {
  font-family: Inter, Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px white;
}

p {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0%;
  margin: 0%;
  padding: 0%;
  background-color: #5069FA;
  border: 2px solid #C0E4F0;
  z-index: 10;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 40px;
  margin-left: 20px;
  width: 30%;
  height: 100%;
}
.logo_svg {
  width: 140px;
  height: 130px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin-top: -20px;
}
.navigation_title {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  top: 0;
  width: 65%;
  margin: 0;
  font-size: 1.25rem;
}
.navigation_bar {
  height: 100%;
  width: 30%;
}
.navigation_link {
  display: none;
  flex-direction: column;
  background: #5069FA;
  height: 14vh;
  width: 100%;
  margin-top: 0;
}
.navigation_link a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: 900;
}
.navigation_link a:hover {
  font-size: x-large;
  text-decoration: underline 8px #C0E4F0;
}
.navigation_link a:active {
  text-decoration: underline 10px #9E8CB1;
  font-size: xx-large;
}

label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125%;
  top: 17%;
  margin: 0;
  margin-right: 0;
  color: black;
  cursor: pointer;
  font-size: 3rem;
}

#toggle:checked + .navigation_link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 300px;
  width: 120%;
  position: relative;
  border: none;
  top: 20px;
  text-decoration: underline 2px solid #59543F;
  margin: -13%;
}

#toggle {
  display: none;
}

@media (min-width: 770px) and (max-width: 1279px) {
  .logo {
    margin-top: 40px;
  }
  label {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation_title {
    font-size: 1.4rem;
    width: 100%;
    top: 20px;
    padding-bottom: 10px;
  }
  .navigation_link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300%;
    height: 100%;
    margin-left: -100%;
    border: none;
    text-decoration: underline solid 6px #C0E4F0;
    font-size: 1.1rem;
  }
  .navigation_link > a:hover, .navigation_link > :active {
    justify-content: space-around;
    text-decoration: underline 8px solid #9E8CB1;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-top: 30px;
  }
  label {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation_title {
    font-size: 1.8rem;
    width: 100%;
    top: 20px;
    padding-bottom: 10px;
    padding-left: 3%;
  }
  .navigation_link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300%;
    height: 100%;
    margin-left: -160%;
    border: none;
  }
  .navigation_link > a:hover {
    border-top: 1px solid black;
    border-right: 3px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    box-shadow: 1px 3px 2px 2px rgba(4, 5, 58, 0.308);
    border-radius: 40px;
    height: max-content;
    padding: 23px;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1.4rem;
  }
  .navigation_link > a:active {
    text-decoration: underline solid 5px black;
  }
}
@media screen and (min-width: 2450px) {
  .navigation_title {
    font-size: 2.4rem;
    justify-content: center;
    align-items: center;
  }
  .navigation_link > a {
    font-size: 1.6rem;
  }
  .navigation_link > a:hover {
    padding: 0.6%;
    padding-left: 0.1%;
    padding-right: 0.1%;
  }
}
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background-color: #5A9AAD;
  padding-bottom: 20px;
}
.presentation_figure {
  width: 333px;
  height: 266px;
}
.presentation_image {
  object-fit: fill;
  width: 333px;
  height: 266px;
  border: 1px #C0E4F0 solid;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 2px rgba(21, 71, 69, 0.3843137255);
}
.presentation_figcaption {
  width: 90%;
  padding: 4%;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 2px rgba(21, 71, 69, 0.3843137255);
}

@media (min-width: 770px) and (max-width: 1279px) {
  .presentation_figure {
    width: 65%;
    height: 450px;
  }
  .presentation_image {
    width: 100%;
    height: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .presentation_figure {
    width: 770px;
    height: 578px;
  }
  .presentation_image {
    width: 770px;
    height: 578px;
  }
}
@media screen and (min-width: 2450px) {
  .presentation_figcaption {
    padding: 20px;
    text-align: center;
  }
}
#team {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #5A9AAD;
}
#team > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#team > .profile_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0%;
}

@media screen and (min-width: 2450px) {
  #team {
    padding-bottom: 220px;
  }
  #team > h2 {
    font-size: 2.8rem;
  }
  #team > .profile_container {
    margin-bottom: 2%;
    height: 1600px;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  top: 0%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 40px;
  background-color: #C0E4F0;
  box-shadow: 2px 4px 3px 2px rgba(21, 71, 69, 0.3843137255);
}
.profile_image {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px #5A9AAD solid;
}
.profile_title {
  font-size: 1.8rem;
}
.profile_profession {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0%;
}
.profile_convention {
  font-style: italic;
  font-size: 1rem;
}
.profile_openingTime {
  font-weight: 900;
  font-style: oblique;
  font-size: larger;
  margin: 0;
}

#kine {
  font-size: 1.2rem;
}

@media screen and (min-width: 1280px) {
  .profile {
    width: 26%;
  }
  .profile_image {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 2450px) {
  .profile {
    height: auto;
  }
  .profile_image {
    width: 150px;
    height: 150px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  padding-bottom: 600px;
  background-color: #5069FA;
}
.footer > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
}
.footer > a > img {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.footer > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: x-large;
  margin-bottom: 0;
}
.footer_address {
  margin-left: 20px;
  margin-bottom: 0;
}
.footer_phone {
  margin-left: 20px;
  margin-bottom: 0;
}
.footer_mailbox {
  margin-left: 20px;
  margin-bottom: 0;
}
.footer_mailbox > a {
  font-size: 1.4rem;
  color: #1B0000;
  text-decoration: underline solid 5px #C0E4F0;
}
.footer_mailbox > a:hover {
  font-size: 1.7rem;
  text-decoration: underline solid 7px #C0E4F0;
}
.footer_mailbox > a:active {
  font-size: 2rem;
  text-decoration: underline solid 7px #9E8CB1;
}

#contact_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-weight: 900;
  font-size: 2rem;
}

#actus_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  font-size: 2.3rem;
  z-index: -1;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  width: 80%;
  margin: auto;
  margin-bottom: 70px;
  height: max-content;
  text-align: center;
  background-color: #C0E4F0;
  border: 1px solid #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 3px 2px 1px rgba(75, 66, 75, 0.137254902);
  z-index: -1;
}
.information_article {
  width: 75%;
  background-color: #C0E4F0;
  border-radius: 20px;
  margin-left: 20px;
}
.information_title {
  font-weight: 900;
  font-size: 1.9rem;
}
.information_subtitle {
  font-weight: 900;
  font-size: 1.5rem;
}
.information_text {
  font-size: 1.1rem;
}
.information_aside {
  width: 50%;
  height: 100%;
  margin: 20px;
  border: 2px solid #9E8CB1;
  border-radius: 20px;
}
.information_figure {
  border-radius: 20px;
  margin: 0;
}
.information_image {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  margin-top: 60px;
  background-color: #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
  z-index: -2;
}
.map_frame {
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  height: 200px;
  width: 68%;
  border: 2px #5A9AAD solid;
  border-radius: 20px;
  box-shadow: none;
}
.map_frame > iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.map_place {
  margin: 20px;
}
.map_address {
  margin: 0;
  margin-bottom: 20px;
  justify-content: flex-start;
}
.map_contact + a {
  font-size: 1.2rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  text-decoration: underline solid 4px #5069FA;
  text-align: center;
}
.map_contact + a:hover {
  text-decoration: underline solid 6px #5069FA;
  font-size: 1.4rem;
}
.map_contact + a:active {
  text-decoration: underline solid 6px #9E8CB1;
  font-size: 1.4rem;
}

@media (min-width: 770px) and (max-width: 1279px) {
  .map_frame {
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .map {
    width: 60%;
  }
  .map_frame {
    height: 400px;
  }
}
@media screen and (min-width: 2450px) {
  .map {
    width: 60%;
  }
  .map_frame {
    height: 400px;
  }
}
.agenda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.agenda_title {
  margin-left: 20px;
  text-align: center;
}
.agenda_caption {
  margin-left: 20px;
  margin-top: 0;
}
.agenda_table {
  width: min-content;
  border-radius: 20px;
  background-color: #C0E4F0;
}
.agenda_solo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C0E4F0;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
}

table {
  border-collapse: collapse;
  overflow-x: auto;
  width: min-content;
  border-radius: 20px;
}

tr,
th {
  border: none;
}

td,
th {
  border: 1px solid black;
}

.day {
  background-color: #5069FA;
}

.half_day {
  background-color: #ABC3D1;
}

.cornu {
  background-color: #97D1A7;
}

.pistre {
  background-color: #D1B48C;
}

.yellow {
  background-color: #D1B6B6;
}

#top_left {
  border-radius: 20px;
  border: none;
}

#top_right {
  border-top-right-radius: 20px;
  border: none;
  background-color: #5069FA;
}

#bottom_left {
  border-bottom-left-radius: 20px;
  border: none;
}

#bottom_right {
  border-bottom-right-radius: 20px;
  border: none;
}

@media screen and (min-width: 1280px) {
  table {
    width: fit-content;
  }
  .agenda {
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
@media screen and (min-width: 2450px) {
  .agenda_solo {
    width: 60%;
  }
  table {
    width: max-content;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
}

#links_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 120px;
  font-size: 2.2rem;
  z-index: -1;
}

.link {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120px;
  bottom: 150px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
  padding: 20px;
  background-color: #C0E4F0;
  border-radius: 20px;
  box-shadow: 2px 4px 3px 2px rgba(24, 79, 95, 0.3764705882);
  z-index: 1;
  z-index: -1;
}
.link_article {
  width: 100%;
}
.link_title {
  text-align: center;
}
.link_text {
  margin-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.link_aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link_frame {
  border-radius: 20px;
  border: 1px solid black;
  width: 90%;
}
.link_aside_link {
  margin-left: 20px;
}

@media (min-width: 770px) and (max-width: 1279px) {
  .link_aside {
    width: 540px;
  }
}
@media screen and (min-width: 1280px) {
  .link {
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    padding: 0;
  }
  .link_aside {
    width: 640px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
