.main_contact {
    position: relative;
    top: 125px;
    background-color: $tertary_color;
    z-index: -1;

    &>h1 {
        display: flex;
        @include center;
        padding-top: 20px;
        font-weight: 900;
    }
}

@include tablet {
    .main_contact {
        top: 150px;
    }
}