.main_contact {
    position: relative;
    top: 95px;
    height: fit-content;
    background-color: $secondary_color;
    z-index: -1;
}

#contact_title {
    display: flex;
    @include center;
    padding-top: 20px;
    font-weight: 900;
    font-size: 2rem;
}

@include desktop {

    .main_contact {
        padding-bottom: 80px;
    }
}

// @include ultraHD {
//     .main_contact{
//         padding-bottom: 120px;
//     }
// }




