.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
    padding-bottom: 100px;
    background-color: $primary_color;

    &>a {
        display: flex;
        @include center;
        margin: auto;
        width: auto;

        &>img {
            height: 100%;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    &>h1 {
        display: flex;
        @include center;
        font-weight: 900;
        font-size: x-large;
        margin-bottom: 0;
    }

    &_address {
        @include footer_address-align;
    }

    &_phone {
        @include footer_address-align;
    }

    &_mailbox {
        @include footer_address-align;

        &>a {
            font-size: 1.4rem;
            color: #1B0000;
            text-decoration: underline solid 5px $tertary_color;
        }

        &>a:hover {
            font-size: 1.7rem;
            text-decoration: underline solid 7px $tertary_color;
        }

        &>a:active {
            font-size: 2rem;
            text-decoration: underline solid 7px $border_tertary_color;
        }
    }
}

.mention {
    color: #1B0000;
    position: absolute;
    top: 300px;
    left: 700px;
    font-size: 0.9rem;
}





