footer {
    display: flex;
    flex-direction: column;
    background-color: $secondary_color;
    
    &>a {
        display: flex;
        @include center;
        margin: 0%;
    }

    &>h3 {
        display: flex;
       @include center;
    }
}