footer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    background-color: $primary_color;
    
    &>a {
        display: flex;
        @include center;
        margin: 0%;

        &>img {
            height: 100px;
            width: 90%;
            padding-top: 20px;
        }
    }

    &>h1 {
        display: flex;
        @include center;
        font-weight: 900;
        font-size: x-large;
    }

    &>p{
        margin-left: 20px;
    }
}

.italic {
    font-style: italic;
}
