header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 17vh;
    position: sticky;
    top: 0%;
    margin: 0%;
    padding: 0%;
    background-color: $primary_color;
}

#logo {
    justify-content: left;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: small;
    text-decoration: none;
    // border: 2px solid red;
}

nav {
    margin: 0%;
    width: 75%;
    height: 14vh;
    background: $primary_color;
}

nav .main_pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .main_pages a {
    width: 25%;
    display: flex;
    @include center;
    height: 7vh;
    margin-top: 4vh;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 900;
}

nav a:hover {
    border-bottom: 4px solid #723D25;
    border-left: none;
    border-right: 3px solid #723D25;
    border-top: 2px solid #723D25;
    border-radius: 40px;
    box-shadow: 2px 3px 2px 2px grey;
}

nav a:active {
    text-decoration: underline 5px;

}

label,
#toggle {
    display: none;
}

@media all and (max-width: 668px) {
    nav {
        height: 60px;
    }

    nav .main_pages {
        display: none;
        flex-direction: column;
        background: $tertary_color;
        height: 14vh;
        z-index: 10;
    }

    nav .main_pages a {
        width: 50%;
    }

    label {
        width: 15%;
        display: flex;
        @include center;
        margin: 0 auto;
        font-size: 2.5rem;
        color: black;
        cursor: pointer;
    }

    #toggle:checked+.main_pages {
        display: flex;
        flex-wrap: nowrap;
        backface-visibility: hidden;
        backdrop-filter: blur(100px);
        height: 250px;
        z-index: 5;
    }

    #logo {
        width: 55%;
    }
}







