header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0%;
    margin: 0%;
    padding: 0%;
    background-color: $primary_color;
    border: 2px solid $tertary_color;
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
    width: 30%;
    height: 100%;

    &_svg {
        width: 140px;
        height: 130px;
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    @include center;
    width: 100%;
    height: 80%;
    margin-top: -20px;

    &_title {
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        top: 0;
        width: 65%;
        margin: 0;
        font-size: 1.25rem;
    }

    &_bar {
        height: 100%;
        width: 30%;
    }

    &_link {
        display: none;
        flex-direction: column;
        background: $primary_color;
        height: 14vh;
        width: 100%;
        margin-top: 0;

        & a {
            width: 50%;
            display: flex;
            @include center;
            height: 40px;
            margin-top: 20px;
            text-decoration: none;
            color: black;
            font-size: larger;
            font-weight: 900;

            &:hover {
                font-size: x-large;
                text-decoration: underline 8px $tertary_color;
            }

            &:active {
                text-decoration: underline 10px $border_tertary_color;
                font-size: xx-large;
            }
        }
    }
}

label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125%;
    top: 17%;
    margin: 0;
    margin-right: 0;
    color: black;
    cursor: pointer;
    font-size: 3rem;
}

#toggle:checked+.navigation_link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 300px;
    width: 120%;
    position: relative;
    border: none;
    top: 20px;
    text-decoration: underline 2px solid #59543F;
    margin: -13%;
}

#toggle {
    display: none;
}

@include tablet {

    .logo {
        margin-top: 40px;
    }

    label {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_title {
            font-size: 1.4rem;
            width: 100%;
            top: 20px;
            padding-bottom: 10px;
        }

        &_link {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 300%;
            height: 100%;
            margin-left: -100%;
            border: none;
            text-decoration: underline solid 6px $tertary_color;
            font-size: 1.1rem;

            &>a:hover,
            &>:active {
                justify-content: space-around;
                text-decoration: underline 8px solid $border_tertary_color;
                font-size: 1.6rem;
            }
        }
    }
}

@include desktop {

    .logo {
        margin-top: 30px;
    }

    label {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        &_title {
            font-size: 1.8rem;
            width: 100%;
            top: 20px;
            padding-bottom: 10px;
            padding-left: 3%;
        }

        &_link {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 300%;
            height: 100%;
            margin-left: -160%;
            border: none;

            &>a:hover {
                border-top: 1px solid black;
                border-right: 3px solid black;
                border-bottom: 4px solid black;
                border-left: 2px solid black;
                box-shadow: 1px 3px 2px 2px rgba(4, 5, 58, 0.308);
                border-radius: 40px;
                height: max-content;
                padding: 23px;
                justify-content: space-around;
                text-decoration: none;
                font-size: 1.4rem;

            }

            &>a:active {
                text-decoration: underline solid 5px black;
            }
        }
    }
}

@include ultraHD {
    .navigation {
        &_title {
            font-size: 2.4rem;
            @include center;
        }

        &_link>a {
            font-size: 1.6rem;

            &:hover {
                padding: 0.6%;
                padding-left: 0.1%;
                padding-right: 0.1%;
            }
        }
    }
}