#presentation {
    display: flex;
    flex-direction: column;
    @include center;
    margin-top: 150px;
    background-color: $secondary_color;


    &>p {
        width: 80%;
        padding: 5%;
        @include center;
        border: 1px solid $primary_color;
        border-radius: 40px;
        box-shadow: 2px 2px 1px 2px #283d3377;
    }
}

@include tablet {

    #presentation {
        margin-top: 180px;

        &>p {
            padding: 3%;
        }
    }
}

@include desktop {

    #presentation {
        margin-top: 180px;

        &>p {
            padding: 2%;
        }
    }

}

@include ultraHD {
    #presentation {

        >p {height: max-content;
            padding: 1%;
            text-align: center;
            border: none;
            font-size: 1.8rem;
        }
    }
}