#presentation {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    @include center;
    background-color: $primary_color;
    z-index: -1;
}

#presentation > p {
    width: 80%;
    background-color: $invert_tertary-color;
} 

