#team {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
    background-color: $tertary_color;

    & > h2 {
        display: flex;
        @include center;
        text-decoration: underline solid 2px $secondary_color;
    }

    & > .profile_container {
        border: green 1px solid;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 0%;
        
    }
}    
    
