.agenda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    padding-bottom: 60px;

    &_title {
        margin-left: 20px;
    }

    &_caption {
        margin-left: 20px;
        margin-top: 0;
    }

    &_table {
        width: min-content;
        border: $border_tertary_color 5px solid;
        border-radius: 20px;
        background-color: $tertary_color;
        


    }

    &_solo {
        display: flex;
        flex-direction: column;
        @include center;
        background-color: $tertary_color;
        margin: 20px;
        padding: 20px;
        border: 2px solid $border_tertary_color;
        border-radius: 20px;
        width: 80%;

    }
}

table {
    border-collapse: collapse;
    overflow-x: auto;
    width: min-content;
}

tr{
    border: 2px solid $border_tertary_color;
    border-radius: 20px;
}

th,
td {
    border: 1px solid black;
}

.day {
    background-color: $primary_color;
}

.half_day {
    background-color: #ABC3D1;
}

.cornu {
    background-color: #97D1A7;
}

.pistre {
    background-color: #D1B48C;
}

.yellow {
    background-color: #D1B6B6;
}

#top_left {
    border-radius: 20px;
}

#bottom_left {
    border-bottom-left-radius: 11px;
}

@include tablet{

}

@include desktop {

    table {
        width: fit-content;
    }
    
    .agenda {
        width: 70%;
        @include center;
        margin: auto;
    }
}

@include ultraHD {

    table {
        width: max-content;
    }
}