.agenda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 0px;

    &_title {
        margin-left: 20px;
        text-align: center;
        font-size: 2.2rem;
    }

    &_caption {
        margin-left: 20px;
        margin-top: 0;
        font-size: 1.4rem;
        text-align: center;
    }

    &_solo {
        display: flex;
        flex-direction: column;
        @include center;
        background-color: $tertary_color;
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
        width: 80%;
        text-align: center;
        box-shadow: 2px 4px 3px 2px #184f5f60;
        font-size: 1.4rem;

        &-image {
            &-dentiste {
                width: 100px;
                height: 100px;
            }

            &-pharmacie {
                width: 150px;
                border-radius: 50%;
            }

            &-psycho {
                width: 120px;
                border-radius: 50%;
            }
        }
    }

    &_docteur {
        width: 80%;
        border-radius: 20px;
        background-color: $tertary_color;
        box-shadow: 2px 4px 3px 2px #184f5f60;
        padding: 20px;
        text-align: center;
    }

    &_mobile {
        font-size: 1.5rem;
        border-radius: 20px;
        text-decoration: underline;
    }
}

table {
    border-collapse: collapse;
    overflow: scroll;
    border-radius: 20px;
    min-width: 760px;
    max-width: 760px;
    height: 350px;
    font-size: 1.4rem;
    display: none;
}

td {
    border: 1px solid black;
}

td.border_right {
    border: 1px solid black;
    border-bottom-right-radius: 20px;
}

th {
    border: 1px solid black;
}

.day {
    background-color: $primary_color;
    border: 1px solid black;
}

.half_day {
    background-color: $tertary_color;
}

.cornu {
    background-color: #97D1A7;
}

.pistre {
    background-color: #D1B48C;
}

.yellow {
    background-color: #D1B6B6;
}

.empty {
    background-color: #CEEAD6;
}

#top_left {
    border-top-left-radius: 20px;
    border: none;
}

.top_right {
    border-top-right-radius: 20px;
    border: none;
    background-color: $primary_color;
}

#bottom_left {
    border-bottom-left-radius: 20px;
    border: none;
}

.bottom_right {
    border-bottom-right-radius: 20px;
    border: none;
}

// typo specifiques

h3.agenda_caption {
    font-size: 1.8rem;
}

@include tablet {

    .agenda_mobile,
    .agenda_mobile+p,
    .agenda_docteur {
        display: none;
    }

    table {
        display: contents;
        width: min-content;
    }
}

@include desktop {

    table {
        display: contents;
        width: 760px;
        height: 300px;
        text-align: center;
        font-size: 1.4rem;
    }

    .agenda {
        width: 70%;
        @include center;
        margin: auto;
    }

    .agenda_mobile,
    .agenda_mobile+p,
    .agenda_docteur {
        display: none;
    }
}

@include ultraHD {

    .agenda {
        &_solo {
            width: 60%;
        }
    }

    table {
        width: max-content;
        display: contents;
    }

    .agenda_mobile,
    .agenda_mobile+p,
    .agenda_docteur {
        display: none;
    }
}