
.link {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 120px;
    bottom: 150px;
    @include center;
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
    padding: 20px;
    background-color: $tertary_color;
    border-radius: 20px;
    box-shadow: 2px 4px 3px 2px #184f5f60;
    z-index: 1;

    &_article {
        width: 100%;
    }

    &_title {
        text-align: center;
    }

    &_text {
        margin-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    &_aside {
        display: flex;
        flex-direction: column;
        @include center;
    }

    &_frame {
        border-radius: 20px;
        border: 1px solid black;
        width: 90%;
    }

    &_aside_link {
        margin-left: 20px;
    }
}

//  #link {
//      display:flex;
//      flex-direction: column;
//      margin-bottom: 80px;
//      z-index: -1;
//  }

@include tablet {
    .link {

        &_aside {
            width: 540px;
        }
    }
}

@include desktop {
    .link {
        display: flex;
        flex-direction: row;
        justify-content: center ;
        padding: 0;

        &_aside {
            width: 640px;
            height: 300px;
        }
    }
}





