.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
    background-color: $tertary_color;
    border: 2px solid $border_tertary_color;
    border-radius: 20px;
    box-shadow: 2px 3px 2px 2px #6374b642;

    &_frame {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
        width: 68%;
        border: 5px $secondary_color solid;
        border-radius: 20px;

        &>iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }

    &_place {
        margin: 20px;
    }

    &_adress {
        margin: 0;
        margin-bottom: 20px;
        justify-content: flex-start;
    }
}

@include tablet {
    .map {

        &_frame {
            height: 500px;
        }
    }
}





