.presentation {
    display: flex;
    flex-direction: column;
    @include center;
    margin-top: 100px;
    background-color: $secondary_color;
    padding-bottom: 20px;
    text-align: center;

    &_caroussel {
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }

    &_figcaption {
        width: 80%;
        padding: 4%;
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: 900;
        background-color: $tertary_color;
        border-radius: 20px;
        box-shadow: 2px 4px 3px 2px #15474562;
    }
}

.slider {
    height: 40vh;
    position: relative;
    width: 100%;
    border-bottom: $tertary_color 2px solid;
}

.slider img{
    object-fit: fit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 800ms ;
}

.slider img.active {
    opacity: 1;
}

.suivant,
.precedent {
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}

@include tablet {
    .presentation {

        &_figure {
            width: 100%;
            height: 350px;
        }

        &_image {
            width: 100%;
        }
    }
}

@include desktop {
    .presentation {

        &_figure {
            width: 100%;
            height: 100%;

        }

        &_image {
            width: 100%;
            height: 450px;
        }
    }
}

@include ultraHD {
    .presentation {
        &_figcaption {
            padding: 20px;
            text-align: center;
        }
    }
    .slider img {
        height: 100%;
    }
}