.presentation {
    display: flex;
    flex-direction: column;
    @include center;
    margin-top: 120px;
    background-color: $secondary_color;
    padding-bottom: 20px;

    &_figure {
        width: 333px;
        height: 266px;
    }

    &_image {
        object-fit: fill;
        width: 333px;
        height: 266px;
        border: 2px $tertary_color solid;
        border-radius: 20px;
        box-shadow: 2px 3px 2px 1px #3f373f1a;
    }

    &_figcaption {
        width: 90%;
        padding: 4%;
        font-size: 1.2rem;
        font-weight: 900;
        background-color: $tertary_color;
        border: 2px $border_tertary_color solid;
        border-radius: 20px;
        box-shadow: 2px 3px 2px 1px #4b424b44;
    }
}

@include tablet {
    .presentation {

        &_figure {
            width: 65%;
        }

        &_image {
            width: 100%;
        }
    }
}

@include desktop {
    .presentation {

        &_figure {
            width: 50%;
        }

        &_image {
            width: 100%;
        }
    }
}