.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 49%;
    top: 0%;

    &_image {
        object-fit: contain;
        width: 150px;
        border-radius: 100%;
        border: 2px solid $primary_color;
    }

    &_title {
        text-decoration: underline solid $secondary_color 4px;
        font-size: x-large;
    }

    &_profession {
        font-size: large;
        margin: 0%;
    }

    &_convention {
        font-style: italic;
        font-size: 0.9rem;
    }

    &_openingTime>span {
        text-decoration: underline solid $secondary_color 4px;
        font-weight: 900;
        font-style:oblique;
        font-size: large;
    }
    
    &_openingTime+p {
        border: 2px solid red;
        
    }
}





