.profile {
    display: flex;
    flex-direction: column;
    @include center;
    height: 50vh;
    margin-bottom: 2vh;

    &_image {
        height: 25vh;
        border: 2px solid $primary_color;
        border-radius: 100%;
    }

    &_title {
        border-bottom: $primary_color 2px solid;
    }

    &_presentation {
        margin-top: 0;
    }
}





@media all and (max-width: 668px) {

    .profile {
        display: flex;
        flex-direction: row;
        flex: auto  1;
        width: 33%;
    }
}





