$primary_color: #a0d1ca;
$secondary_color:#D1B6D1;
$border_secondary_color: #59857E;
$tertary_color: #D1C28C;
$border_tertary_color: #857D5F;
$invert_primary_color: invert($primary_color);
// #5f2e35
$invert_secondary_color: invert($secondary_color);
// #7e6b22 
$invert_tertary-color: invert($tertary_color);
// #48362c

// media queries
$breakpoints: (tablet_min: 770px,
    tablet_max: 1279px,
    desktop: 1280px,
    ultraHD: 2450px,
);