$primary_color: #2f6cf8;
 //$secondary_color:#5A9AAD;
 $secondary_color: white;
$border_secondary_color: #BC82FA;
$tertary_color: #C0E4F0;
$border_tertary_color: #9E8CB1;
$invert_primary_color: invert($primary_color);
// #5f2e35
$invert_secondary_color: invert($secondary_color);
// #7e6b22 
$invert_tertary-color: invert($tertary_color);
// #48362c

// media queries
$breakpoints: (tablet_min: 770px,
    tablet_max: 1079px,
    desktop: 1080px,
    ultraHD: 2450px,
)